extend layout

block content
    a(class='button' href='/user') My Workouts  
    h2= workout.name
    if workout.exerciseList
        table#exerciseTable
            tr
                th Delete
                th Exercise name
                th Description
                th No. sets
                th Reps/Time
            each exercise in workout.exerciseList
                tr
                    td.delete
                        a(href=`/user/${workout._id}/${exercise._id}`) ❌
                    td= exercise.name
                    td.desc= exercise.description
                    td= exercise.numSets
                    td= exercise.numReps
    form(action=`/user/${workout._id}/exercises`, method='POST')
        select(name='addedExercise')
            each exercise in availableExercises
                option(value=exercise.name) #{exercise.name}
        input(type='submit', value='Add')

