extend layout

block content
    h2 List of workouts for #{user.username}
    h3 a table of workouts
    table#workoutTable
        tr
            th Workout name
            th No. exercises
            th Details
        each workout in workouts
            tr
                td= workout.name
                td= workout.exerciseList.length
                td.toWorkouts
                    a(href=`/users/${user._id}/${workout._id}`) &#128170; 
