extend layout

block content
    h2 List of workouts for #{user.username}
    table#workoutTable
        tr
            th Delete
            th Workout name
            th No. exercises
            th Details
        each workout in workouts
            tr
                td.delete
                    a(href=`/user/${workout._id}`) ❌
                td= workout.name
                td= workout.exerciseList.length
                td.toWorkouts
                    a(href=`/user/${workout._id}/exercises`) &#128170; 

    form(action='/user', method='POST')
        div
            label(for='workout') Enter new workout name: 
            input(type='text', id='workout', name='workout', required)
            input(type='submit', value='Add Workout')
